service onFgAppChanged /system/bin/sh  /etc/onFgAppChanged.sh
        class core
        user root
        oneshot
        disabled

# ASUS_BSP+++ VictorFu "For Ultimate mode & disable thermald"
on property:sys.ultimate.mode.enabled=*
	start onFgAppChanged
on property:sys.thermald.disabled=*
        start onFgAppChanged
# ASUS_BSP--- VictorFu "For Ultimate mode & disable thermald"
# ASUS_BSP+++ VictorFu "For watching foreground app"
on property:sys.foregroundapp=*
	start onFgAppChanged
# ASUS_BSP--- VictorFu "For watching foreground app"

